<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        引入标签顺序
        properties?,settings?,typeAliases?,typeHandlers?
        objectFactory?,objectWrapperFactory?,reflectorFactory?
        plugins?,environments?,databaseIdProvider?,mappers?
    -->

    <!--引入properties配置文件-->
    <properties resource="jdbc.properties"/>

    <!--设置类型别名，不区分大小写，不设置alias的情况下别名就是默认类名-->
    <typeAliases>
        <!--以包为单位，将包下所有的类型设置为默认的类型别名，且类名不区分大小写-->
        <package name="com.ict.mybatis.pojo"/>
<!--        <typeAlias type="com.ict.mybatis.pojo.User" alias="User"></typeAlias>-->
    </typeAliases>


    <!--设置连接数据库的环境
        配置多个连接数据库的环境
        属性：
            default：设置默认使用的环境的ID
    -->
    <environments default="development">
        <!--
            environment：配置某个具体的环境
            属性：
                id:表示连接数据库的唯一标识，不能重复
        -->
        <environment id="development">
            <!--
                transactionManager设置事务管理属性
                属性：
                    type="JDBC/MANAGED"
                    JDBC：表示当前环境中，执行SQL时，使用的是JDBC中原生的事务管理方式，事务的提交或回滚需要手动处理
                    MANAGED：被管理，例如Spring
            -->
            <transactionManager type="JDBC"/>
            <!--
                dataSource：配置数据源
                属性：
                    type：设置数据源的类型
                    type="POOLED|UNPOOLED|JNDI"
                    POOLED：表示使用数据库连接池缓存数据库链接
                    UNPOOLED：表示不使用数据库连接池
                    JNDI：表示使用上下文中的数据源
            -->
            <dataSource type="POOLED">
                <!--设置连接数据库的驱动-->
                <property name="driver" value="${jdbc.driver}"/>
                <!--设置连接数据库的链接地址-->
                <property name="url"
                          value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
<!--        <mapper resource="mappers/UserMapper.xml"/>-->
        <!--
            以包为单位引入映射文件，条件
            1、mapper接口所在的包要和映射文件所在的包一致
            2、mapper接口要和映射文件的名字一致
        -->
        <package name="com.ict.mybatis.mapper"/>
    </mappers>
</configuration>
